* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("img/home.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.description {
    font-size: 24px;
    color: #FFFFFF;
    margin-bottom: 40px;
}

#startButton {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    text-decoration: none;
    transition: background-color 0.3s;
}

#startButton:hover {
    background-color: #0056b3;
}
