.container {
    max-width: 900px;
    margin: auto;
    padding: 10px;
}

.cocktail-display {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}
.cocktail-name {
    color: #808080;
}

.lesson-image {
    flex: 1;
    max-width: 50%;
}

.lesson-image img {
    width: 150%;
    height: auto;
}

.cocktail-info {
    flex: 1;
    text-align: center;
    padding: 0 20px;
}

.cocktail-details {
    flex: 2;
    text-align: left;
    padding-left: 5px;
    padding-right: 10px;
}

h1, h2 {
    margin-bottom: 10px;
}

ul, ol {
    padding: 0;
    list-style-position: inside;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.btn {
    padding: 12px 24px;
    font-size: 18px;
    border-radius: 5px;
    color: #fff;
    background-color: #D9BEA7;
    text-decoration: none;
    border:none
}

.btn:hover {
    background-color: #F2DABD;
}

.title-icon {
    height: 40px;
    margin-right: 10px;
    vertical-align: middle;
}
