.container {
    max-width: 1000px;
    margin: auto;
    padding: 10px;
}

.cocktail-display {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.lesson-image {
    flex: 1;
    max-width: 50%;
}

.lesson-image img {
    width: 150%;
    height: auto;
}

.cocktail-info {
    flex: 1;
    text-align: center;
    padding: 0 20px;
}

.cocktail-details {
    flex: 2;
    text-align: left;
    padding-left: 5px;
    padding-right: 10px;
}

h1, h2 {
    margin-bottom: 10px;
}

ul, ol {
    padding: 0;
    list-style-position: inside;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.btn {
    padding: 12px 24px;
    font-size: 18px;
    border-radius: 5px;
    color: #fff;
    background-color: #D9BEA7;
    text-decoration: none;
    border:none
}

.btn:hover {
    background-color: #F2DABD;
}

.title-icon {
    height: 40px;
    margin-right: 10px;
    vertical-align: middle;
}


.cocktail-name {
    text-align: center;
    font-size: 50px;
    color: #808080;
    margin-bottom: 0; /* Reduces space between the title and info text */
}

.cocktail-info {
    font-size: 20px;
    color: #555;
    margin-top: 5px;
    margin-bottom: 20px;
    text-align: center;
}

.video-container {
    text-align: center;
    margin: 20px 0;
}

.video-container video {
    width: 80%;
    height: auto; /
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.cocktail-headlines {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 5px;
}

.cocktail-details h2 {
    margin-bottom: 10px;
}

.cocktail-details h2 span.label {
    font-weight: bold;
}

.cocktail-details h2 span.value {
    font-weight: normal;
    font-size: 20px;
}


.ingredients-list li {
    font-size: 20px; /* Set the font size as desired */
}
