
body {
    background-color: #F2E6D8;
    color: black;
}
h1 {
    margin-top: 15px;
    text-align: center;
    color: #333;
}
.flex-container {
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 20px;
}

.names-area, .images-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
}

.submit-area {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-grow: 1;
    padding-top: 20px;
    padding-bottom: 20px;
}

.draggable, .droppable {
    width: 150px;
    height: 150px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
}

.draggable {
    background-color: #f9f9f9;
    cursor: pointer;
    text-align: center;
    line-height: 130px;
}

.droppable {
    border: 2px dashed #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.droppable img {
    max-width: 100%;
    max-height: 100%;
}

button#submit-quiz {
    padding: 10px 20px;
    font-size: 16px;
}
.btn-primary {
    padding: 12px 24px;
    font-size: 18px;
    border-radius: 5px;
    color: #fff;
    background-color: #D9BEA7;
    text-decoration: none;
    border:none
}
.btn-primary:hover {
    background-color: #F2DABD;
}